.pulse {
    animation: pulse 2s infinite;
}

.nopulse {
    animation: none;
    transform: scale(1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}